header {
  padding-block: 1rem;
  align-items: center;
}

.logo {
  width: 9.25rem;
  margin-right: 7.43rem;
}

nav {
  display: flex;
  justify-content: space-between;

  min-width: 22.625rem;
  margin-right: 23.75rem;

  a {
    font-weight: 400;
    color: var(--grey-500);
    line-height: 1.25;
  }

  a:hover {
    color: var(--red-content);
  }
}

.buttons {
  display: flex;
  gap: .75rem;

  button {
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    padding: .625rem 1.125rem;
    line-height: 1.25;
    font-weight: 500;
  }

  .one {
    color: var(--grey-500);
    background-color: transparent;
  }

  button.one:hover {
    background-color: var(--red-transparent);
  }

  .two {
    color: rgba(255, 255, 255, 1);
    background-color: var(--red-content);
  }

  button.two:hover {
    background-color: rgb(168, 44, 44);
  }
}